{% extends "layout.njk" %}

{% block head %}
    <title> Sobre - receitas pra casinha</title>
{% endblock head %}

{% block content %}

    <div id="about">


        <main>

            <h1>Sobre o receitas pra casinha</h1>
            
            <p>Oiê 😁</p>

            <p>
                O receitas pra casinha é um site de receitas colaborativo.
                Qualquer pessoa pode acessar, compartilhar ou pesquisar uma receita.
            </p>

            <p>
                O site não possuí regras, mas não vacila:
                Nada de linguagem ofensiva ou pornografia e
                nada de editar a receita de outras pessoas sem permissão.
            </p>

            <h2>Como tudo começou...</h2>

            <p>
                Quando você começa a se aventurar na cozinha percebe que muitas receitas
                vêm com o famoso "a gosto": sal a gosto, açúcar a gosto, tempere como preferir,
                entre outros.
            </p>

            <p>
                Após algumas tentativas frustadas comecei a testar e anotar em um caderninho todos os passos
                da receita para não errar mais, principalmente no sal. Mas esses caderninhos
                que acumulamos ao longo da vida se perdem.
            </p>

            <p>
                Pensando nisso, juntei as habilidades adquiridas durante um workshop da
                <a class="link"
                    href="https://rocketseat.com.br/"
                    target="_blank"
                    style="text-decoration: none;
                        color: var(--primary-color);
                        font-weight: bold;"
                >
                    Rocketseat
                </a>
                e montei esse sitezinho básico, mas funcional, que manterá as receitas
                salvas e prontas para serem compartilhadas.
            </p>

            <p class="last">
                Espero que gostem! ✌️
            </p>

        </main>

    </div>

    <footer>
        <p>Feito com 🖤
            <a href="https://github.com/adejota" target="_blank">adejota
            </a>
        </p>
    </footer>

{% endblock content %}

