<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles.css">

        {% block head %}
            <title>receitas pra casinha</title>
        {% endblock %}

        {% block header %}
        </head>
        <body>

            <header>
                <div class="flex-container">
                    <a href="/"><img src="/assets/logo.png" alt="Logomarca Receitas pra Casinha"></a>
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Todas as receitas</a>
                </div>
                <div class="flex-container">
                    <a href="/share-recipe" class="margin">
                        <button>Nova receita</button>
                    </a>
                </div>
            </header>
        {% endblock %}

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>

    </body>
</html>